<article class="content">
    <page-header content="$ctrl.content"></page-header>
    <section class="detail">
        <header ng-click="$ctrl.click()">
            <img ng-src="{{$ctrl.detail.img}}">
            <h1 ng-bind-html="$ctrl.trustContent($ctrl.detail.title)"></h1>
            <p ng-bind-html="$ctrl.trustContent($ctrl.detail.detail)"></p>
            <div class="separator"></div>
        </header>
        <section ng-repeat="item in $ctrl.detail.items" class="detail-item">
            <article>
                <header style="background-image:url('{{item.img}}')">
                    <h2 ng-bind-html="$ctrl.trustContent(item.title)"></h2>
                </header>
                <section ng-repeat="detail in item.details" class="detail-item-content">
                    <article>
                        <h3 ng-bind-html="$ctrl.trustContent(detail.title)"></h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img ng-src="{{detail.img}}" >
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <p ng-bind-html="$ctrl.trustContent(detail.content)" ></p> 
                            </div>
                        </div>
                        <div class="separator">
                        </div>
                    </article>
                </section>
            </article>
        </section>    
    </section>
    
</article>